body {
    background: linear-gradient(#FF0000, #8B0000) fixed;
    color: white;
    -webkit-text-stroke: .2px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  }

  #total {
    color: #F4F0EF;
    text-align: left;
    background-color: red;
    width: 200px;
    border-radius: 15px;
  }

#recipient-form {
  color: black;
  border-radius: 15px;
  background-color: white;
  width: 200px;
  border: 9px solid white;
  padding: 20px;
  margin-left: 400px;
  float: right;

}

.submit:hover {
  background-color: whitesmoke;
  border: red solid 5px;
  color: #e04b52;
}

ul {
  text-align: center;
  list-style-type: none;
  width: 400px;
}

.card {
  background-color: green;
  width: 200px;
  margin: auto;
  padding-bottom: 30px;
}