body {
    background: linear-gradient(#FF0000, #8B0000) fixed;
    color: white;
    -webkit-text-stroke: .2px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  }
  
  

  li {
    color: black;
    text-align: center;
    background-color: white;
    display: inline-grid;
    margin: 16px 32px;
    padding: 16px;
    width: 240px;
    height: 160px;
   border-radius: 15px;
  }

  #total {
    color: black;
    text-align: left;
    background-color: red;
    width: 200px;
    border-radius: 15px;
  }

#recipient-form {
  color: black;
  border-radius: 15px;
  background-color: white;
  width: 200px;
  border: 9px solid white;
  padding: 20px;
  margin: 20px;
}

.submit:hover {
  background-color: whitesmoke;
  border: red solid 5px;
  color: #e04b52;
}

button:hover {
  background-color: green;
}

ul {
  text-align: center;
  list-style-type: none;
}

